@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito:wght@400;800&display=swap');
:root {
    --fonts: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --color-text-principal: #222222;
    --color-text-secondary: #ffffff;
    --container-padding-horizontal: 48px;
    --container-padding-vertical: 20px;
    --font-size-main: 1.125rem;
}

* {
    box-sizing: border-box;
}

html {
    font-family: var(--fonts);
}

body {
    margin: 0;
    font-size: var(--font-size-main);
}

.main-content {
    padding: 100px var(--container-padding-horizontal);
}
